@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&family=Barlow+Condensed:wght@100&family=Lobster&family=Oswald:wght@500&family=PT+Sans:wght@400;700&family=Play&display=swap');



/* .videos-grid {
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-column-gap: 30px;
}

.videos-grid-video {
}

.videos-grid-video > iframe {
  height:278px;
} */

html{
  background-color: black;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow Condensed';
}
h1{
  font-size: 28px;
  font-family: Lobster;
  color: white;
  padding-top: 1px;
  padding-left: 2px;
  margin-left: 2px;

}
a{
  color: white;
  text-decoration: none;
}
a:hover{
  color: white;
}
/* Style images and container */
main {
  /* Contains images */
  margin: 0;
  padding-top: 20vmin;
  padding-bottom: 20vmin;
  background: black;
  color: white;
  text-align: center;
  height: calc(100vh - 40vmin);
  width: 100vw;
  position: fixed;
  overflow-y: auto;
  scroll-behavior: smooth; /* Means anchor links will scroll smoothly */
}
main ul {
  list-style-type: none; /* No bullet points */
}

main img {
  display: block;
  height: 60vmin;
  margin: auto; /* Centered */
  margin-bottom: 10vmin;
  margin-top: 10vmin;
}

::-webkit-scrollbar {
  width: 2vmin;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: radial-gradient(#ccc, white);
  border-radius: 2.5vmin;
}
::-webkit-scrollbar-thumb:hover {
  background: radial-gradient(#888, #ccc);
}

/* Scroll Snap */

main {
  scroll-snap-type: none;
  scroll-padding: 0vmin;
}

main li {
  scroll-snap-align: start;
}

/* Preview Bars */

#bar_before {
  top: 0;
}
#bar_after {
  bottom: 0;
}

#bar_before,
#bar_after {
  z-index: 1;
  position: fixed;
  left: 0;
  background: #111111;
  width: calc(100vw - 4vmin);
  height: 6vmin;
  padding: 2vmin;
  text-align: center;
}

#bar_before ul,
#bar_after ul {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  display: grid;
  grid-template-rows: 6vmin;
  grid-template-columns: repeat(16, 6vmin);
  grid-gap: 1vmin;
  width: calc(6vmin * 16 + 1vmin * 15);
  margin: auto; /* Centered */
}

#bar_before ul li,
#bar_after ul li {
  opacity: 1;
  margin: 0;
  padding: 0;
  overflow: hidden;
  transition: all 0.5s;
}

#bar_before ul li img,
#bar_after ul li img {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
  transition: all 0.5s;
}
#bar_before ul li.hidden,
#bar_after ul li.hidden {
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s;
}
#bar_before ul li.hidden img,
#bar_after ul li.hidden img {
  margin: 50%;
  height: 0;
  width: 0;
  transition: all 0.5s;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 4px;
}
.column img {
  margin-top: 8px;
  vertical-align: middle;
}






h1, h2, h3, h4, h5 {
	line-height: 1.2;
	font-weight: 300;
	margin: 1em 0 .5em 0;
}

h1 { font-size: 60px;  }
h2 { font-size: 30px; }
h3 { font-size: 26.25px; }
h4 { font-size: 22.5px; }
h5 { font-size: 18.75px; }
p { margin: 0 0 1rem 0; color:white;}
ul, ol { margin: 0 0 1rem 0; padding: 0 0 0 1rem; }
a:link, a:visited { color: cornflowerblue; }
a:hover, a:active { color: midnightblue; }
img { max-width: 100%; }
.aks-container {
  width: 90vw;
  max-width: 900px;
  margin: 0 auto;
}
.aks-page-description {
  color: white;
  font-size:40px;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
}
.aks-page-description h1 {
  margin: 0 0 5px 0;
  text-transform: uppercase;
  font-size: 3.3rem;
  font-weight: 600;
}
.aks-page-description p {
  margin-bottom: 0;
}
section.aks-container {
  padding: 40px 0 50px 0;
}
section.aks-container h2 {
  margin-top: 0;
}
