body {background-color: #670233;}
h1 {color: #CBF395; font-family: Helvetica; font-size: 24px;}
p{color: #95F3EB; font-family: Garamond; font-size: 18px;}
h1{ text-align: center; }
body{text-align: center;}
img{margin-left: 100px ; border-style:solid;}
ul{color: #CBF395; text-decoration: none;}
li{color: #CBF395; text-align: center;list-style: none;}
