@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&family=Barlow+Condensed:wght@100&family=Lobster&family=Oswald:wght@500&family=PT+Sans:wght@400;700&family=Play&display=swap');


*{
 margin:0;
 padding:0;
 border:none;
}

body{
 font-family: 'Barlow Condensed';
 color: white;
 background-color: #232121;
}


#wrapper{
max-width: 1200px;
margin:0 auto;
position:relative;
background-color:  #232121;
}

p, h1, h2,h3,nav, article{
 margin-bottom: 1em;
 color:#ffff;
}



h2{
 position:relative;
 color: #F2C4CE;
 text-shadow:
 -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
   2px 2px 0 #000;
}


main a{
 color:white;
 background-color: black;
}

.events a, header a{
 color:white;
 text-decoration: none;
}

a:visited{

text-decoration: none;
}

a:hover{
 color:#F2C4CE;
}

.img-responsive{
 width:100%;
}

/*header nav*/
header{
 display:flex;
 justify-content: space-between;
 color:#F20505;
}

#dropmenu{
position:absolute;
padding:0.5em;
text-align: right;
display:none;
right:0;
}

#dropmenu ul{
 list-style-type: none;
}

#dropmenu li{
 padding:0.5em 1em;
}

#dropmenu input{
 /* border:solid 1px grey; */
 padding:5px;
}

#dropmenu li:hover ul{
  display:block;
}

.search-program strong a{
color:black;
padding:0em;
background-color: #4F4F51;
padding:0.5em;
}

.search-program a{
 text-decoration: none;
 color:#D6D6D6;
 /* font-weight:600; */
 padding:0.5em;
 display:block;
}

.search-program li{
 text-align: center;
 /* border: solid 1px grey; */
 list-style-type: none;
}

.search-program li ul{
 list-style-type: none;
 background-color: #F2C4CE;
 display:none;
}

.search-program li:hover ul{
  display:block;
}

.search-program img{
 width:24px;
 margin-bottom:-6px;
 transition-property: transform;
 transition-duration: 0.2s;

}
.search-program li:hover img{
 transform: rotate(180deg);
}



/* banner styles */

.banner{
 padding:1em 1em;
 margin-bottom: .5em;
 font-size: 60px;
 font-family: Lobster;
}


.banner h2{
  position:static;
  text-align: center;
  color:#F58F7C;
  border-radius:none;
  /*background-color: hsla(180, 24%, 12%, .5);*/
  padding:0.2em;
}



/* main styles */
main ul{
 list-style-type: none;
}

.card-link{
 color:#F58F7C;
 text-decoration: none;
 transition: all 0.5s ease-out;
}

.card-link:hover{
 transform:scale(1.05);
 box-shadow:5px 5px 10px #888;
 color: #0554F2;
}

.program-card img {
 height: 100px;
 object-fit: cover;
}

.program-card h3{
color:#BF2604;
}

.program-card h3{
margin-top:0.3em;
margin-bottom: 0.5em;
}

.card img{
  width:100%;

}

@media (min-width:768px){

#dropmenu{
display:flex;
position:static;
border:none;
}

#dropmenu ul{
display:flex;
}

.menu-icon{
 display:none;
}

.program-menu {
 display:flex;
 justify-content: space-between;
 padding-bottom: 8em;
}

.program-menu li{
 width:30%;
 position:relative;
}

.program-menu li ul{
 position:absolute;
 z-index: 100;
 left:-1px;
 width:100%;
}

.program-menu li ul li{
 background-color: #4F4F51;
}


.program-menu li ul li:hover{
color:black;
background-color: #F2C4CE;
}

.program-menu li li{
 width:100%;
}

/* main layout */
main{
display:grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-gap: 2em;
}

.news {
 grid-column-start: 1;
 grid-column-end: 4;
}

/* program pages */
.programs-title{
 grid-column-start:1;
 grid-column-end:4;

}


.grid > div {
	position: absolute;
	padding: 0px;
	margin: 0px;
	height: 50%;
	width: 50%;
}
.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}
.grid > div.gridtl {
	left: 0%;
	top: 0%;
	background-color: #333;
}
.grid > div.gridtr {
	left: 50%;
	top: 0%;
	background-color: #555;
}
.grid > div.gridbl {
	left: 0%;
	top: 50%;
	background-color: #555;
}
.grid > div.gridbr {
	left: 50%;
	top: 50%;
	background-color: #333;
}
